
@{
    ViewBag.Title = "Breakfast Order";
    Layout = null;
}

<h1>Breakfast Order</h1>

<p>Good morning @ViewBag.Fullname!</p>

<p>
    You have ordered: <strong>@ViewBag.Order</strong><br />
    Total price: <strong>@ViewBag.TotalPrice</strong>
</p>

<p>Your order will be prepared and delivered to room @ViewBag.Roomnumber, @ViewBag.Time.</p>

